pool:
  name: Hosted macOS
  demands: msbuild


steps:
- checkout: self 
  submodules: true

# Azure DevOps hosted pool is still using an old version of Xamarin.iOS, 
# so we will use the previous major version of Xcode
- task: CmdLine@2
  inputs:
    script: 'sudo rm -rf /Applications/Xcode.app/;
             sudo /bin/mv /Applications/Xcode_9.4.1.app/ /Applications/Xcode.app/'

# Print the current version of Xamarin.iOS
- task: CmdLine@2
  inputs:
    script: '/Library/Frameworks/Xamarin.iOS.framework/Versions/Current/bin/mtouch --version'

- task: NuGetCommand@2
  displayName: 'NuGet restore'
  inputs:
    restoreSolution: KeraLua.Mac.sln

- script: 'brew update'
  displayName: 'Brew Update'

- script: 'brew install gitversion --ignore-dependencies'
  displayName: 'Install GitVersion'

- task: PowerShell@2
  displayName: 'PowerShell Script'
  inputs:
    targetType: filePath
    filePath: ./devops/PreBuild.ps1
    arguments: 'KeraLua KeraLua.nuspec'

- task: MSBuild@1
  displayName: 'Build solution KeraLua.Mac.sln'
  inputs:
    solution: KeraLua.Mac.sln
    configuration: Release

- script: 'nunit-console ./tests/build/net45/bin/Release/KeraLuaTest.dll'
  displayName: 'Run OSX tests'

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: Xamarin.iOS.KeraLua.dll'
  inputs:
    PathtoPublish: lib/Release/xamarinios/KeraLua.dll
    ArtifactName: Xamarin.iOS.KeraLua.dll

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: Xamarin.tvOS.KeraLua.dll'
  inputs:
    PathtoPublish: lib/Release/xamarintvos/KeraLua.dll
    ArtifactName: Xamarin.tvOS.KeraLua.dll

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: Xamarin.watchOS.KeraLua.dll'
  inputs:
    PathtoPublish: lib/Release/xamarinwatchos/KeraLua.dll
    ArtifactName: Xamarin.watchOS.KeraLua.dll

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: Xamarin.Mac.KeraLua.dll'
  inputs:
    PathtoPublish: lib/Release/xamarinmac/KeraLua.dll
    ArtifactName: Xamarin.Mac.KeraLua.dll

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: liblua53.dylib'
  inputs:
    PathtoPublish: runtimes/osx/native/liblua53.dylib
    ArtifactName: liblua53.dylib

- task: TriggerBuild@3
  displayName: 'Trigger a new build of KeraLua.Linux'
  inputs:
    buildDefinition: 'NLua.KeraLua.Linux'
    ignoreSslCertificateErrors: true
    useSameSourceVersion: true
    password: '$(myToken)'

