<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>LuaTests</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icons/Icon.png</string>
		<string>Icons/Icon@2x.png</string>
		<string>Icons/Icon-72.png</string>
		<string>Icons/Icon-72@2x.png</string>
		<string>Icons/Icon-Small.png</string>
		<string>Icons/Icon-Small@2x.png</string>
		<string>Icons/Icon-Small-50.png</string>
		<string>Icons/Icon-Small-50@2x.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>org.nlua.luatest</string>
	<key>MinimumOSVersion</key>
	<string>3.2</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
